html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 63px 128px 0 128px;
}
.header .navbar-brand {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 13px;
  background-image: url("../img/logo.png");
  background-size: cover;
  transition: 2s;
}
.header h3 {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 300;
  display: flex;
}
.header .collapse {
  justify-content: right;
}
.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
.header .Wecare {
  font-weight: 700;
  font-size: 54px;
  color: #FFFFFF;
  display: flex;
  align-items: end;
  flex-direction: column;
  max-height: 380px;
}
.header h4 {
  width: 416px;
  height: 323px;
}
.header h5 {
  margin-right: 161px;
  width: 256px;
  height: 56px;
  border-radius: 25px;
  background-color: #FFFFFF;
  border: solid #545871 1px;
  color: #545871;
  font-size: 24px;
  text-align: center;
  padding-top: 16px;
}
.header .navbar-brand:hover {
  background-image: url("../img/GeoLab.GEO.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.header .geolab {
  display: block;
  position: relative;
  align-items: center;
}
.header .text1 {
  display: inline-block;
  position: absolute;
}
.header .text2 {
  display: none;
  position: absolute;
  font-size: 30px;
  font-weight: 700;
}
.header .text1:hover + .text2 {
  display: block;
  z-index: 10;
}
.header .text1:hover {
  display: none;
}
.header .author {
  display: inline-block;
  font-size: 16px;
  font-weight: 400px;
  color: #FFFFFF;
  padding-top: 38px;
  padding-bottom: 83px;
}

.care {
  display: flex;
  flex-direction: row;
  padding: 112px 128px 112px 128px;
  color: #545871;
  justify-content: space-between;
}
.care .care1 {
  width: 480px;
}
.care .care1 h2 {
  font-size: 48px;
  font-weight: bold;
}
.care .care1 p {
  font-size: 24px;
  margin-top: 50px;
}
.care .care1 h6 {
  width: 256px;
  height: 56px;
  border-radius: 25px;
  background-color: #707070;
  text-align: center;
  padding-top: 20px;
  margin-top: 56px;
}
.care .care1 a {
  text-decoration: none;
  color: #FFFFFF;
}
.care .care2 {
  height: 550px;
  width: 574px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 16px;
  color: #FFFFFF;
}
.care .care2 p {
  padding: 205px 168px 30px 30px;
}
.care .care2 div {
  max-width: 256px;
  max-height: 256px;
  background-size: cover;
}
.care .bg1 {
  background-image: url("../img/PG2/bg1.png");
  background-repeat: no-repeat;
}
.care .bg2 {
  background-image: url("../img/PG2/bg2.png");
  background-repeat: no-repeat;
}
.care .bg3 {
  background-image: url("../img/PG2/bg3.png");
  background-repeat: no-repeat;
}
.care .bg4 {
  background-image: url("../img/PG2/bg4.png");
  background-repeat: no-repeat;
}

.services {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.services .service1 {
  background-image: url(../img/pg3/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 50%;
  height: 700px;
  font-size: 16px;
  color: #FFFFFF;
}
.services .service1 h6 {
  padding-top: 562px;
  padding-left: 100px;
}
.services .service2 {
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-left: 116px;
  padding-right: 129px;
  width: 50%;
  height: 700px;
  padding-top: 117px;
  background-color: #F7ECEB;
}
.services .service2h3 {
  font-size: 48px;
  color: #545871;
  font-weight: 700;
}
.services .service2p {
  color: #545871;
  font-size: 24px;
  font-weight: 100;
}
.services .service2h5 {
  width: 256px;
  height: 56px;
  border-radius: 25px;
  background-color: #707070;
  text-align: center;
  padding-top: 20px;
  margin-top: 56px;
}

.pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #545871;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
}
.pets .petsh1 {
  padding-top: 107px;
  padding-bottom: 62px;
}
.pets .boxes {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.pets .first {
  display: flex;
  gap: 70px;
}
.pets .second {
  display: flex;
  gap: 70px;
}
.pets .box {
  color: #545871;
  display: flex;
  flex-direction: row;
  padding: 32px;
  width: 544px;
  height: 224px;
  background-color: #FFFFFF;
}
.pets .boxtext {
  padding-left: 30px;
}
.pets .box h4 {
  font-size: 24px;
  font-weight: 700;
}
.pets .box p {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
}
.pets .read {
  width: 256px;
  height: 56px;
  border-radius: 25px;
  background-color: #EBD0CE;
  text-align: center;
  padding-top: 20px;
  margin-top: 56px;
  font-size: 24px;
  color: #545871;
  margin-bottom: 127px;
}

.affordable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.affordable .affordableh1 {
  font-size: 48px;
  font-weight: 700;
  color: #545871;
  padding-top: 112px;
  padding-bottom: 80px;
}
.affordable .affordablep {
  font-size: 24px;
  font-weight: 100;
  padding-bottom: 70px;
  width: 620px;
}
.affordable .affordablebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}
.affordable .affbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 352px;
  border: solid #DADBE6;
  border-radius: 10px;
}
.affordable .affbox img {
  -o-object-fit: none;
     object-fit: none;
  translate: 0px -48px 0px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #F7ECEB;
  border: 1px solid #E6DBDA;
}
.affordable .affboxh1 {
  font-size: 51px;
  font-weight: 700;
  padding-bottom: 10px;
}
.affordable .affboxp {
  font-size: 20px;
  font-weight: 100;
  width: 223px;
  height: 124px;
  text-align: center;
}
.affordable .cost {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 348px;
  background-color: #F0F1F7;
  height: 125px;
  padding: 24px;
  align-items: center;
  border-color: #E6DBDA;
}
.affordable .costh1 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 10px;
}
.affordable .costp {
  font-size: 12px;
  font-weight: 400;
}
.affordable .costh6 {
  color: #FFFFFF;
  width: 256px;
  height: 56px;
  border-radius: 25px;
  background-color: #707070;
  text-align: center;
  padding-top: 20px;
  margin-top: 56px;
  margin-bottom: 110px;
}

footer {
  background-color: #F7ECEB;
  height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
footer .contacth5 {
  color: #545871;
  font-size: 48px;
}
footer .tel {
  text-decoration: none;
  color: #545871;
  font-size: 48px;
}
footer .mail {
  color: #545871;
  text-decoration: none;
  font-size: 48px;
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  .header {
    padding: 0px;
  }
  .header h5 {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 1150px) {
  .care {
    padding: 20px 0px;
  }
  .care2 {
    gap: 20px;
  }
  .care2 div {
    width: 200px;
    height: 150px;
  }
  .care .care2 p {
    padding: 120px 0px 0px 30px;
  }
}
@media only screen and (max-width: 1020px) {
  .services .service2 {
    padding: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .pets .boxes {
    gap: 10px;
  }
  .pets .box {
    padding: 16px;
    width: 450px;
  }
  .pets .first {
    gap: 10px;
  }
  .pets .second {
    gap: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .affordable .affordablebox {
    gap: 10px;
  }
  .affordable .affordableh1 {
    font-size: 35px;
  }
  .affordable .affbox {
    width: 210px;
    height: 380px;
  }
  .affordable .affboxh1 {
    font-size: 32px;
  }
  .affordable .cost {
    width: 210px;
  }
}
@media only screen and (max-width: 1000px) {
  .boxes img {
    width: 120px;
    height: 172px;
  }
  .pets .boxtext {
    width: 180px;
  }
  .pets .box {
    height: auto;
    width: -moz-min-content;
    width: min-content;
  }
  .pets .first {
    height: auto;
    width: -moz-min-content;
    width: min-content;
  }
  .pets .second {
    height: auto;
    width: -moz-min-content;
    width: min-content;
  }
}
@media only screen and (max-width: 768px) {
  .services .service2h5 {
    width: 220px;
  }
  .pets .boxes {
    flex-direction: column;
    align-items: center;
  }
  .pets .first {
    flex-direction: column;
  }
  .pets .second {
    flex-direction: column;
  }
  .affordable .affordablebox {
    flex-direction: column;
  }
  .affordable .affordablep {
    width: auto;
  }
}/*# sourceMappingURL=global.css.map */