.header {
    background-image: url("../../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 63px 128px 0 128px;



    .navbar-brand {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: #FFFFFF;
        padding: 13px;
        background-image: url("../../img/logo.png");
        background-size: cover;

    }

    h3 {
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 300;
        display: flex;
    }

    .collapse {
        justify-content: right;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 28px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
    }

    .Wecare {
        font-weight: 700;
        font-size: 54px;
        color: #FFFFFF;
        display: flex;
        align-items: end;
        flex-direction: column;
        max-height: 380px;
    }

    h4 {
        width: 416px;
        height: 323px;

    }

    h5 {
        margin-right: 161px;
        width: 256px;
        height: 56px;
        border-radius: 25px;
        background-color: #FFFFFF;
        border: solid #545871 1px;
        color: #545871;
        font-size: 24px;
        text-align: center;
        padding-top: 16px;
    }

    .navbar-brand:hover {
        background-image: url("../../img/GeoLab.GEO.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }



    .geolab {
        display: block;
        position: relative;
        align-items: center;
    }

    .text1 {
        display: inline-block;
        position: absolute;
    }

    .text2 {
        display: none;
        position: absolute;
        font-size: 30px;
        font-weight: 700;
    }

    .text1:hover+.text2 {
        display: block;
        z-index: 10;
    }

    .text1:hover {
        display: none;
    }
    .author {
        display: inline-block;
        font-size: 16px;
        font-weight: 400px;
        color: #FFFFFF;
        padding-top: 38px;
        padding-bottom: 83px;
    }
}