.services{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .service1 {
        background-image: url(../img/pg3/bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 50%;
        height: 700px;
        font-size: 16px;
        color: #FFFFFF;
       
    }
    .service1 h6{
        padding-top: 562px;
        padding-left: 100px;
    }
    .service2{
        display: flex;
        flex-direction: column;
        gap: 10%;
        padding-left: 116px;
        padding-right: 129px;
        width: 50%;
        height: 700px;
        padding-top: 117px;
        background-color: #F7ECEB;
    } 
    .service2h3{
        font-size: 48px;
        color: #545871;
        font-weight: 700;
    }
    .service2p {
        color: #545871;
        font-size: 24px;
        font-weight: 100;
        
    }
    .service2h5 {
        width: 256px;
        height: 56px;
        border-radius: 25px;
        background-color: #707070;
        text-align: center;
        padding-top: 20px;
        margin-top: 56px;
    }
}