@import "reset.scss";
@import "header.scss";
@import "care.scss";
@import "services.scss";
@import "pets.scss";
@import "affordable.scss";
@import "contact.scss";

@media only screen and (max-width: 700px) {
    .header {
        padding: 0px;


    }

    .header h5 {
        margin-right: 0px;
    }

}

@media only screen and (max-width: 1150px) {
    .care {
        padding: 20px 0px;

    }

    .care2 {
        gap: 20px;
    }

    .care2 div {
        width: 200px;
        height: 150px;

    }

    .care .care2 p {
        padding: 120px 0px 0px 30px;
    }

}

@media only screen and (max-width: 1020px) {
    .services .service2 {
        padding: 0px;

    }
}
@media only screen and (max-width: 1200px) {
    .pets .boxes {
        gap:10px;

    }
    .pets .box{
        padding: 16px;
        width: 450px;
    }
    .pets .first {
        gap: 10px;
    }
    .pets .second{
        gap: 10px;
    }
}

@media only screen and (max-width: 1200px){
    .affordable .affordablebox{
        gap: 10px;
    }
    .affordable .affordableh1{
        font-size: 35px;
    }
    .affordable .affbox {
        width: 210px;
        
        height: 380px;
    }
    .affordable .affboxh1{
        font-size: 32px;
    }
    .affordable .cost {
    width: 210px;
    
    }


}
@media only screen and (max-width: 1000px){
    .boxes img{
        width: 120px;
        height: 172px;
        
    }
    .pets .boxtext{
       width: 180px;
        
    }
    .pets .box{
        height: auto;
        width: min-content;
    }
  
    .pets .first{
        height: auto;
        width: min-content;
    }
    .pets .second{
        height: auto;
        width: min-content;
    }
}

@media only screen and (max-width: 768px){
    .services .service2h5{
        width: 220px;
    }
    .pets .boxes{
        flex-direction: column;
        align-items: center;
    }
    .pets .first{
        flex-direction: column;
    }
    .pets .second{
        flex-direction: column;
    }
    .affordable .affordablebox{
        flex-direction: column;
    }
    .affordable .affordablep{width: auto;}
}